:where(*) {
  --color-hue: var(--hue-teal);
  --gray-hue: var(--hue-purple); 
  --gray-chroma: 0.01;

  --background-color: var(--gray-0);
  --color: var(--gray-13);
  --text-selection-color: oklch(from var(--color-10) l c h / 0.25);
  --muted-color: var(--gray-10);
  --muted-border-color: var(--gray-1);

  --primary: var(--color-10);
  --primary-background: var(--color-11);
  --primary-border: var(--primary-background);
  --primary-underline: oklch(from var(--primary) l c h / 0.5);
  --primary-hover: var(--color-13);
  --primary-hover-background: var(--color-12);
  --primary-hover-border: var(--primary-hover-background);
  --primary-hover-underline: var(--primary-hover);
  --primary-focus: oklch(from var(--color-9) l c h / 0.5);
  --primary-inverse: var(--gray-0);

  --secondary: color-mix(in oklch, var(--color-10), var(--gray-10));
  --secondary-background: color-mix(in oklch, var(--color-11), var(--gray-11));
  --secondary-border: var(--secondary-background);
  --secondary-underline: oklch(from var(--secondary) l c h / 0.5);
  --secondary-hover: color-mix(in oklch, var(--color-13), var(--gray-13));
  --secondary-hover-background: color-mix(in oklch, var(--color-12), var(--gray-12));
  --secondary-hover-border: var(--secondary-hover-background);
  --secondary-hover-underline: var(--secondary-hover);
  --secondary-focus: oklch(from var(--color-9) l c h / 0.25);
  --secondary-inverse: var(--gray-0);

  --contrast: var(--gray-15);
  --contrast-background: var(--gray-15);
  --contrast-border: var(--contrast-background);
  --contrast-underline: oklch(from var(--contrast) l c h / 0.5);
  --contrast-hover: var(--gray-15);
  --contrast-hover-background: var(--gray-15);
  --contrast-hover-border: var(--contrast-hover-background);
  --contrast-hover-underline: var(--secondary-hover);
  --contrast-focus: oklch(from var(--color-11) l c h / 0.25);
  --contrast-inverse: var(--gray-0);

  --box-shadow: var(--shadow-3);

  --h1-color: var(--gray-15);
  --h2-color: var(--gray-14);
  --h3-color: var(--gray-13);
  --h4-color: var(--gray-12);
  --h5-color: var(--gray-11);
  --h6-color: var(--gray-10);
  
  --mark-background-color: oklch(88% .12 var(--hue-orange));
  --mark-color: var(--color-15);
  --ins-color: oklch(27% .12 var(--hue-green));
  --del-color: oklch(35% .15 var(--hue-red));
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: var(--shadow-1);
  --button-hover-box-shadow: var(--shadow-1);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: oklch(from var(--gray-9) l c h / 0.038);
  --code-background-color: var(--gray-1);
  --code-color: var(--gray-10);
  --code-kbd-background-color: var(--color);
  --code-kbd-color: var(--background-color);

  --form-element-background-color: var(--gray-0);
  --form-element-selected-background-color: var(--gray-2);
  --form-element-border-color: var(--gray-3);
  --form-element-color: var(--gray-14);
  --form-element-placeholder-color: var(--muted-color);
  --form-element-active-background-color: var(--gray-0);
  --form-element-active-border-color: var(--primary-border);
  --form-element-focus-color: var(--primary-border);
  --form-element-disabled-opacity: 0.5;
  --form-element-invalid-border-color: oklch(58% .21 var(--hue-red));
  --form-element-invalid-active-border-color: oklch(53% .20 var(--hue-red));
  --form-element-invalid-focus-color: var(--form-element-invalid-active-border-color);
  --form-element-valid-border-color: oklch(42% .17 var(--hue-green));
  --form-element-valid-active-border-color: oklch(35% .15 var(--hue-green));
  --form-element-valid-focus-color: var(--form-element-valid-active-border-color);
  
  --switch-background-color: var(--gray-3);
  --switch-checked-background-color: var(--primary-background);
  --switch-color: var(--gray-0);
  --switch-thumb-box-shadow: var(--shadow-1);

  --range-border-color: var(--gray-2);
  --range-active-border-color: var(--gray-3);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary-background);
  --range-thumb-active-color: var(--primary-background);

  --accordion-border-color: var(--muted-border-color);
  --accordion-active-summary-color: var(--primary-hover);
  --accordion-close-summary-color: var(--color);
  --accordion-open-summary-color: var(--muted-color);

  --card-background-color: var(--background-color);
  --card-border-color: var(--muted-border-color);
  --card-box-shadow: var(--box-shadow);
  --card-sectioning-background-color: oklch(99% .03 var(--hue-teal));

  --dropdown-background-color: var(--gray-0);
  --dropdown-border-color: var(--gray-1);
  --dropdown-box-shadow: var(--box-shadow);
  --dropdown-color: var(--color);
  --dropdown-hover-background-color: var(--gray-1);

  --loading-spinner-opacity: 0.5;
  --modal-overlay-background-color: oklch(from var(--gray-1) l c h / 0.75);
  --progress-background-color: var(--gray-2);
  --progress-color: var(--primary-background);
  --tooltip-background-color: var(--contrast-background);
  --tooltip-color: var(--contrast-inverse);
  --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 155, 138)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200, 79, 72)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  color-scheme: light;
}

input:is([type=submit],
[type=button],
[type=reset],
[type=checkbox],
[type=radio],
[type=file]),
input:is([type=submit],
[type=button],
[type=reset],
[type=checkbox],
[type=radio],
[type=file]) {
  --form-element-focus-color: var(--primary-focus);
}